BasedOnStyle: LLVM

SortIncludes: Never
IndentWidth: 4
ColumnLimit: 160
UseTab: Never
IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: None


AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

BinPackArguments: false # 禁止将参数/元素打包到同一行

BreakBeforeBraces: Custom # 控制大括号换行
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: true
  AfterFunction: false
  SplitEmptyFunction: false
  BeforeWhile: true
  BeforeCatch: true
  BeforeElse: true
